body {
    width: 725px;
    text-align: center;
    margin: auto auto;
    background-color: black;
    color: gray;
    font-family: sans-serif;
}

h1 {
    margin: 10px 0 0 0;
}

section {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

section img {
    border: 0;
}

section h2, section a {
    color: #FF7F50;
}

section .source {
    margin-top: 5px;
}

section .source:before {
    content: "Source:";
}

section .article:before {
    content: "Article:";
}

.warning {
    text-align: justify;
    color: #aaa;
}

.warning p {
    margin: 5px auto;
    text-indent: 1em;
    width: 600px;
}

.warning a {
    color: #FF7F50;
    text-decoration: none;
}

.warning b {
    color: #ccc;
}
