@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #333;
    }
    a {
        color: #aaf;
    }
    main a:visited {
        color: #e8f;
    }
    main article > h2 a:visited {
        color: #aaf;
    }
    main article > time {
        color: #aaa;
    }
    header {
        background-color: #444;
        border-bottom: #444;
        box-shadow: 0 0 10px #222;
    }
    main article pre {
        background: #222;
        border: 1px dotted #777;
    }
    article .post-list time {
        color: #aaa;
    }
}
