body {
    color: black;
    background-color: #ecffdc;
}

header {
    text-align: center;
}

nav {
    border: solid #ccc;
    border-width: 1px 1px 1px 1px;
    color: black;
    background-color: #F0F0E0;
    position: absolute;
    left: 1em;
    top: 185px;
    width: 14em;
    padding: 0 20px 0 10px;
    font-size: 75%;
}

#essay {
    border: solid #ccc;
    border-width: 1px 1px 1px 1px;
    margin: 0 0 10px 13em;
    padding: 1em;
    background-color: white;
}

footer {
    font-size: 75%;
    color: inherit;
    background-color: #F6F6FF;
    border: solid #ccc;
    border-width: 1px 1px 1px 1px;
    margin: 0 0 10px 17.3em;
    padding: 1em 2em 1em 2em;
}

address {
    font-style: normal;
}

h2 {
    font-size: 14pt;
    padding: 0 0 0 1em;
}

h2 a {
    text-decoration: none;
}

pre {
    background-color: #F6F6FF;
}

blockquote {
    color: inherit;
    background-color: #F6F6FF;
    border: dashed #00005c;
    border-width: 1px 1px 1px 1px;
    padding: 0 0 0 0.5em;
}

.date {
    font-size: 90%;
    font-weight: bold;
    text-indent: 3em;
    color: #2F4F4F;
}

.abstract {
    font-style: italic;
}


img.center {
  text-align: center;
  border: 0px;
}

img.right {
  float: right;
  border: 0px;
  padding: 10px;
}

img.left {
  float: left;
  border: 0px;
  padding: 10px;
}

img {
  border: 0px;
}

p.center {
  text-align: center;
}

p.permalink {
  font-size: 75%;
  text-align: right;
}

p.commentlink {
  text-align: right;
}
