body {
    color: black;
    background-color: #ecffdc;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

#sidebar {
    position: absolute;
}

aside {
    background-color: WhiteSmoke;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    width: 180px;
    font-size: 75%;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px Silver;
}

article, footer {
    background-color: White;
    margin: 0 0 10px 210px;
    padding: 15px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px Silver;
    display: block;
}

footer {
    font-size: 75%;
}

nav {
    text-align: center;
}

.nav-prev {
    float: left;
}

.nav-next {
    float: right;
}

address {
    font-style: normal;
}

.portrait {
    border-radius: 15px;
    border: 2px solid #ccc;
}

h2 {
    font-size: 14pt;
    padding: 0 0 0 1em;
}

h2 a {
    text-decoration: none;
}

code {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
}

pre {
    border: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    padding: 3px;
    margin-left : 1em;
}

pre code {
    background-color: #EEEEEE;
    border: none;
}

blockquote {
    color: inherit;
    background-color: #F6F6FF;
    border: dashed #00005c;
    border-width: 1px 1px 1px 1px;
    padding: 0 0 0 0.5em;
}

.date {
    font-size: 90%;
    font-weight: bold;
    text-indent: 3em;
    color: #2F4F4F;
}

.abstract {
    font-style: italic;
}


img.center {
    text-align: center;
    border: 0px;
}

img.right {
    float: right;
    border: 0px;
    padding: 10px;
}

img.left {
    float: left;
    border: 0px;
    padding: 10px;
}

#essay img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

p.center {
    text-align: center;
}

p.permalink {
    font-size: 75%;
    text-align: right;
}

p.commentlink {
    text-align: right;
}
