---
title: null program
layout: default
---

{% for post in paginator.posts %}
<article>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="date">
    <time datetime="{{ post.date }}" class="date">
      {{ post.date | date: "%d %b %Y" }}
    </time>
  </p>
  {{ post.content }}

  <p class="permalink">
    <a href="{{ post.url }}#disqus_thread"
       data-disqus-identifier="{{ post.url }}">? Comments</a>
  </p>
</article>
<hr/>
{% endfor %}

<!-- Navigation -->

{% if paginator.previous_page > 1 %}
  {% capture prev_page %}page{{ paginator.previous_page }}{% endcapture%}
{% endif %}
{% if paginator.previous_page %}
<a href="/{{ prev_page }}" title="Go to previous page">
  &laquo; Previous
</a>
{% endif %}

<a href="/index/" title="Go to archives">Archives</a>

{% if paginator.next_page %}
<a href="/page{{ paginator.next_page }}" title="Go to next page">
  Next &raquo;
</a>
{% endif %}
