<li><a href="http://www.zombieorpheus.com/">ZOE</a></li>
<li><a href="http://youtube.com/user/Matthiaswandel">Matthias Wandel</a></li>
<li><a href="http://youtube.com/user/thechesswebsite">The Chess Website</a></li>
<li><a href="http://youtube.com/user/BlueXephos">The Yogscast</a></li>
<li><a href="http://youtube.com/user/JonTronShow">JonTron</a></li>
<li><a href="http://youtube.com/user/praxgirl">praxgirl</a></li>
<li><a href="http://youtube.com/user/jefmajor">One F Jef</a> (LPs)</li>
<li><a href="http://youtube.com/user/quill18">quill18</a> (LPs)</li>
<li><a href="http://youtube.com/user/PlumpHelmetPunk">PlumpHelmetPunk</a> (LPs)</li>
<li><a href="http://youtube.com/user/Mestherion">Mestherion</a> (LPs)</li>
<li><a href="http://youtube.com/user/GetDaved">GetDaved</a> (LPs)</li>
<li><a href="http://youtube.com/user/davidr64yt">X</a> (LPs)</li>
<li><a href="http://youtube.com/user/HuntrBlackLuna">HuntrBlackLuna</a> (LPs)</li>
