<li><a href="http://devrand.org/">/dev/random</a></li>
<li><a href="http://terminally-incoherent.com/">Terminally Incoherent</a></li>
<li><a href="http://www.shamusyoung.com/twentysidedtale/">Twenty Sided</a></li>
<li><a href="http://curiousprogrammer.wordpress.com/">A Curious Programmer</a></li>
<li><a href="http://possiblywrong.wordpress.com/">Possibly Wrong</a></li>
<li><a href="http://jkirchartz.com/">Joel Kirchartz</a></li>
<li><a href="http://www.soa-world.de/">echelon</a></li>
<li><a href="http://emacsblog.org/">M-x all-thing-emacs</a></li>
<li><a href="http://www.masteringemacs.org/">Mastering Emacs</a></li>
<li><a href="http://emacs-fu.blogspot.com/">emacs-fu</a></li>
<li><a href="http://www.kk.org/thetechnium/">The Technium</a></li>
<li><a href="http://www.skorks.com/">Skorks</a></li>
<li><a href="http://amitp.blogspot.com/">Amit's Thoughts</a></li>
<li><a href="http://pages.cs.wisc.edu/~psilord/blog/">Angry Unix Programmer</a></li>
<li><a href="http://bit-player.org/">bit-player</a></li>
<li><a href="http://dorophone.blogspot.com/">Dorophone</a></li>
<li><a href="http://dvdp.tumblr.com/">dvdp</a></li>
<li><a href="http://unixsysadmin.org/">Get *NIXy</a></li>
<li><a href="http://www.malloc47.com/">malloc47</a></li>
<li><a href="http://programthis.net/">Program This</a></li>
<li><a href="http://www.sea-of-memes.com/">Sea Of Memes</a></li>
<li><a href="http://blog.plover.com/">The Universe of Discourse</a></li>
