<li><a href="http://devrand.org/">/dev/random</a></li>
<li><a href="http://www.50ply.com/">50Ply</a></li>
<li><a href="http://www.metastine.com/">metastine</a></li>
<li><a href="http://www.skorks.com/">Skorks</a></li>
<li><a href="http://www.captainaustralia.net/">Captain Australia</a></li>
<li><a href="http://terminally-incoherent.com/">Terminally Incoherent</a></li>
<li><a href="http://emacs-fu.blogspot.com/">emacs-fu</a></li>
<li><a href="http://curiousprogrammer.wordpress.com/">A Curious Programmer</a></li>
<li><a href="http://www.shamusyoung.com/twentysidedtale/">Twenty Sided</a></li>
<li><a href="http://ultra-premium.com/b">Friendly Robot Overlord</a></li>
<li><a href="http://possiblywrong.wordpress.com/">Possibly Wrong</a></li>
<li><a href="http://jkirchartz.com/">Joel Kirchartz</a></li>
<li><a href="http://www.soa-world.de/">echelon</a></li>
<li><a href="http://emacsblog.org/">M-x all-thing-emacs</a></li>
<li><a href="http://www.masteringemacs.org/">Mastering Emacs</a></li>
<li><a href="http://www.kk.org/thetechnium/">The Technium</a></li>
