<li><a href="http://nedroid.com/">Nedroid Picture Diary</a></li>
<li><a href="http://www.whompcomic.com/">Whomp!</a></li>
<li><a href="http://www.smbc-comics.com/">SMBC</a></li>
<li><a href="http://www.explosm.net/comics/">Cyanide and Happiness</a></li>
<li><a href="http://www.giantitp.com/comics/oots0001.html">Order of the Stick</a></li>
<li><a href="http://abstrusegoose.com/">Abstruse Goose</a></li>
<li><a href="http://www.amazingsuperpowers.com/">AmazingSuperPowers</a></li>
<li><a href="http://buttersafe.com/">Buttersafe</a></li>
<li><a href="http://mycardboardlife.com/">My Cardboard Life</a></li>
<li><a href="http://www.lefthandedtoons.com/">Left-Handed Toons</a></li>
<li><a href="http://www.invisiblehairsuit.com/">The Invisible Hair Suit</a></li>
<li><a href="http://www.optipess.com/">Optipess</a></li>
<li><a href="http://bradcolbow.com/">The Brads</a></li>
<li><a href="http://www.mrlovenstein.com/">Mr Lovenstein</a></li>
<li><a href="http://asofterworld.com/">A Softer World</a></li>
<li><a href="http://chainsawsuit.com/">chainsawsuit</a></li>
<li><a href="http://mimiandeunice.com/">Mimi and Eunice</a></li>
<li><a href="http://www.mercworks.net/">MercWorks</a></li>
<li><a href="http://www.anticscomic.com/">Antics</a></li>
<li><a href="http://www.myapokalips.com/">Apokalips</a></li>
<li><a href="http://www.boatcrime.com/">Boat Crime</a></li>
<li><a href="http://catversushuman.blogspot.com/">cat vs human</a></li>
<li><a href="http://www.exocomics.com/">Extra Ordinary</a></li>
<li><a href="http://www.spaceavalanche.com/">Space Avalanche</a></li>
<li><a href="http://invisiblebread.com/">Invisible Bread</a></li>
<li><a href="http://maneggs.com/">Maneggs</a></li>
<li><a href="http://problemtown.com/">Problemdown</a></li>
<li><a href="http://seemikedraw.com.au/">See Mike Draw</a></li>
<li><a href="http://www.channelate.com/">Channelate</a></li>
<li><a href="http://comics.chickennation.com/">Comics by Patrick Alexander</a></li>
<li><a href="http://cheeseburgersinthesky.com/">Cheeseburgers in the Sky</a></li>
<li><a href=" http://cowbirdsinlove.com/">Cowbirds in Love</a></li>
<li><a href="http://www.menagea3.net/">Menage &agrave; 3</a></li>
<li><a href="http://sorrycomics.blogspot.com/">Sorry Comics</a></li>
<li><a href="http://storyboardcomics.blogspot.com/">Storyboards</a></li>

<!-- No longer updated -->
<li><a href="http://www.kiwisbybeat.com/great1.html">Great!</a></li>
<li><a href="http://www.kiwisbybeat.com/minus.html">minus</a></li>
<li><a href="http://www.shamusyoung.com/twentysidedtale/?p=612">DM of the Rings</a></li>
<li><a href="http://www.squidi.net/comic/amd/">A Modest Destiny</a></li>
