body {
    color: {{ page.foreA }};
    background-color: {{ page.backA }};
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Signika', sans-serif;
}

body a {
    color: {{ page.links }};
}

header {
    background: url(/img/logo.jpg) no-repeat;
    width: 860px;
    height: 210px;
    padding: 40px 40px 0 0;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px {{ page.border }};
}

header h1 {
    text-align: right;
    font-size: 2.6em;
    text-shadow: 0px 8px 10px #042;
    font-family: "Courier New", Courier, monospace;
}

header a {
    color: #082050;
    text-decoration: none;
}

#sidebar {
    position: absolute;
    top: 270px;
}

aside {
    background-color: {{ page.backC }};
    padding: 3px 20px 3px 20px;
    margin-bottom: 10px;
    width: 160px;
    font-size: 75%;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px {{ page.border }};
    text-align: justify;
}

article, footer {
    background-color: {{ page.backB }};
    margin: 0 0 10px 210px;
    padding: 20px 40px 20px 40px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px {{ page.border }};
    font-size: 1.25em;
}

article pre {
    font-size: 0.8em;
}

footer {
    font-size: 75%;
}

nav {
    text-align: center;
}

.nav-prev {
    float: left;
}

.nav-next {
    float: right;
}

address {
    font-style: normal;
}

.portrait {
    border-radius: 15px;
    border: 2px solid {{ page.border }};
    margin-bottom: -1em;
}

.buttons {
    text-align: center;
}

img {
    border: 0px;
}

h2 {
    font-weight: normal;
    text-indent: 0;
    border-radius: 15px;
    background-color: {{ page.border }};
    text-align: center;
    padding: 5px 3px 3px 3px;
}

article h2 {
    font-size: 1.4em;
    margin-top: 0.5em;
}

h2 a {
    text-decoration: none;
    color: {{ page.foreA }};
}

aside h2 {
    font-size: 1.2em;
}

aside li {
    text-indent: 0em;
    margin-left: -2.5em;
    padding-left: 0;
    list-style: none;
}

code {
    border: 1px solid {{ page.border }};
    background-color: {{ page.backA }};
}

pre {
    border: 1px solid {{ page.border }};
    background-color: {{ page.backA }};
    padding: 3px;
    margin-left: 1em;
}

pre code {
    border: none;
    background-color: {{ page.backA }};
}

blockquote {
    border: 1px dashed {{ page.border }};
    background-color: {{ page.backC }};
    padding: 0 0.5em 0 0.5em;
}

.date {
    font-size: 90%;
    color: {{ page.foreB }};
    text-align: center;
    margin-top: -1em;
}

.abstract {
    font-style: italic;
    border: 1px solid {{ page.backB }};
    padding: 15px;
    margin: 15px;
    background: {{ page.backC }};
    indent: 1em;
}


img.center {
    text-align: center;
    border: 0px;
}

img.right {
    float: right;
    padding: 10px;
}

img.left {
    float: left;
    padding: 10px;
}

article img, article video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.center {
    text-align: center;
}

p.permalink, p.tags {
    font-size: 90%;
    text-align: right;
}

p.commentlink {
    text-align: right;
}

/* Theme selector */

img.selected {
    border: 2px dotted {{ page.foreA }};
    border-radius: 10px;
    margin: 0px;
}

img.theme-button {
    margin: 2px;
}
