<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} &laquo; null program</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="alternate" type="application/rss+xml" href="/blog/index.rss"/>

    <!-- Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24992716-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>

    <!-- GitHub ribbon -->
    <a href="http://github.com/skeeto">
      <img style="position: absolute; top: 0; left: 0; border: 0;" alt="Fork me on GitHub"
	   src="https://a248.e.akamai.net/assets.github.com/img/edc6dae7a1079163caf7f17c60495bbb6d027c93/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67">
    </a>

    <header>
      <p>
	<a href="/">
	  <img src="/img/logo.png" alt="null program" class="center"/>
	</a>
      </p>
    </header>

    <nav>
      <address>
	<p class="center">
	  Christopher Wellons<br/>
	  <a href="mailto:&#109;&#111;&#115;&#113;&#117;&#105;&#116;&#111;&#112;&#115;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#111;&#115;&#113;&#117;&#105;&#116;&#111;&#112;&#115;&#117;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a><br/>
	  <a href="/download/Christopher-Wellons.asc">
	    PGP Key
	  </a>
	</p>
      </address>
      <p class="center">
	<img src="/img/me.jpg" alt=""/>
      </p>
      <hr/>
      <p class="center">
	<a href="/index/">
	  <img src="/img/archives.png" alt="Archives" title="Archives"/>
	</a>
	<a href="/blog/index.rss">
	  <img src="/img/rss.png" alt="RSS" title="RSS"/>
	</a>
      </p>
      <hr/>
      <p class="center">
	<a href="http://github.com/skeeto">skeeto@GitHub</a><br/>
	<a href="/applets/">My Java Applets</a><br/>
      </p>
      <hr/>
      <p class="center">
	<img src="/img/hacker.png" alt="I like hacking."
	     title="Hacker Culture"/>
      </p>
      <p>
	Born and raised in Pittsburgh, I am currently a happily
	married computer engineer working in Maryland. Most of the
	topics you will find here are about hobby computing and
	programming.
      </p>
      <hr/>
      <p>
	Blogs I follow:<br/>
	- <a href="http://devrand.org/">/dev/random</a><br/>
	- <a href="http://www.50ply.com/">50Ply</a><br/>
	- <a href="http://www.skorks.com/">Skorks</a><br/>
	- <a href="http://www.captainaustralia.net/">Captain Australia</a><br/>
	- <a href="http://terminally-incoherent.com/">Terminally Incoherent</a><br/>
	- <a href="http://emacs-fu.blogspot.com/">emacs-fu</a><br/>
	- <a href="http://curiousprogrammer.wordpress.com/">A Curious Programmer</a><br/>
	- <a href="http://www.shamusyoung.com/twentysidedtale/">Twenty Sided</a><br/>
	- <a href="http://ultra-premium.com/b">Friendly Robot Overlord</a><br/>
	- <a href="http://possiblywrong.wordpress.com/">Possibly Wrong</a><br/>
	- <a href="http://rewiredforsound.blogspot.com/">ReWired for Sound</a><br/>
	- <a href="http://www.soa-world.de/">echelon</a><br/>
	- <a href="http://emacsblog.org/">M-x all-thing-emacs</a><br/>
	- <a href="http://www.masteringemacs.org/">Mastering Emacs</a><br/>
	- <a href="http://www.kk.org/thetechnium/">The Technium</a><br/>
      </p>
      <hr/>
      <p>
	Video series I follow:<br/>
	- <a href="http://www.zombieorpheus.com/">ZOE</a><br/>
	- <a href="http://youtube.com/user/Matthiaswandel">Matthias Wandel</a><br/>
	- <a href="http://youtube.com/user/thechesswebsite">The Chess Website</a><br/>
	- <a href="http://youtube.com/user/BlueXephos">The Yogscast</a><br/>
	- <a href="http://youtube.com/user/JonTronShow">JonTron</a><br/>
	- <a href="http://youtube.com/user/jefmajor">One F Jef</a> (LPs)<br/>
	- <a href="http://youtube.com/user/quill18">quill18</a> (LPs)<br/>
	- <a href="http://youtube.com/user/GetDaved">GetDaved</a> (LPs)<br/>
	- <a href="http://youtube.com/user/davidr64yt">X</a> (LPs)<br/>
	- <a href="http://youtube.com/user/HuntrBlackLuna">HuntrBlackLuna</a> (LPs)<br/>
	- <a href="http://youtube.com/user/Baddga">Baddga</a> (LPs)<br/>
      </p>
      <hr/>
      <p>
	Web Comics I follow:<br/>
	- <a href="http://nedroid.com/">Nedroid Picture Diary</a><br/>
	- <a href="http://www.whompcomic.com/">Whomp!</a><br/>
	- <a href="http://www.kiwisbybeat.com/minus.html">minus</a><br/>
	- <a href="http://www.smbc-comics.com/">SMBC</a><br/>
	- <a href="http://www.explosm.net/comics/">Cyanide and Happiness</a><br/>
	- <a href="http://www.shamusyoung.com/twentysidedtale/?p=612">DM of the Rings</a><br/>
	- <a href="http://www.squidi.net/comic/amd/">A Modest Destiny</a><br/>
	- <a href="http://www.giantitp.com/comics/oots0001.html">Order of the Stick</a><br/>
	- <a href="http://abstrusegoose.com/">Abstruse Goose</a><br/>
	- <a href="http://www.amazingsuperpowers.com/">AmazingSuperPowers</a><br/>
	- <a href="http://buttersafe.com/">Buttersafe</a><br/>
	- <a href="http://www.qwantz.com/">Dinosaur Comics</a><br/>
	- <a href="http://mycardboardlife.com/">My Cardboard Life</a><br/>
	- <a href="http://www.true-magic.com/">True Magic</a><br/>
	- <a href="http://www.lefthandedtoons.com/">Left-Handed Toons</a><br/>
	- <a href="http://scbots.com/">SCBots</a><br/>
	- <a href="http://www.invisiblehairsuit.com/">The Invisible Hair Suit</a><br/>
	- <a href="http://www.optipess.com/">Optipess</a><br/>
	- <a href="http://loldwell.com/">Loldwell</a><br/>
	- <a href="http://bradcolbow.com/">The Brads</a><br/>
	- <a href="http://www.mrlovenstein.com/">Mr Lovenstein</a><br/>
	- <a href="http://asofterworld.com/">A Softer World</a><br/>
	- <a href="http://chainsawsuit.com/">chainsawsuit</a><br/>
	- <a href="http://mimiandeunice.com/">Mimi and Eunice</a><br/>
	- <a href="http://www.mercworks.net/">MercWorks</a><br/>
	- <a href="http://www.anticscomic.com/">Antics</a><br/>
	- <a href="http://www.myapokalips.com/">Apokalips</a><br/>
	- <a href="http://www.boatcrime.com/">Boat Crime</a><br/>
	- <a href="http://catversushuman.blogspot.com/">cat vs human</a><br/>
	- <a href="http://www.exocomics.com/">Extra Ordinary</a><br/>
	- <a href="http://www.spaceavalanche.com/">Space Avalanche</a><br/>
	- <a href="http://blastwave-comic.com/">Gone with the Blastwave</a><br/>
	- <a href="http://www.kiwisbybeat.com/great1.html">Great!</a><br/>
	- <a href="http://invisiblebread.com/">Invisible Bread</a><br/>
	- <a href="http://maneggs.com/">Maneggs</a><br/>
	- <a href="http://problemtown.com/">Problemdown</a><br/>
	- <a href="http://romanticallyapocalyptic.com/">Romantically Apocalyptic</a><br/>
	- <a href="http://seemikedraw.wordpress.com/">See Mike Draw</a><br/>
      </p>
      <hr/>
      <p>
	This site is powered
	by <a href="https://github.com/mojombo/jekyll">Jekyll</a> and
	edited
	with <a href="http://www.gnu.org/software/emacs/">Emacs</a>.
      </p>
    </nav>

    <div id="essay">
      {{ content }}
    </div>


    <footer>
      <p>
	All information on this blog, unless otherwise noted, is
	hereby released into the public domain, with no rights
	reserved.
      </p>
    </footer>

<!-- Disqus -->
<script type="text/javascript">
    var disqus_shortname = 'nullprogram';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<!-- End Disqus -->
  </body>
</html>
