<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} &laquo; null program</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="alternate" type="application/rss+xml" href="/blog/index.rss"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Signika:400,700"/>
    <link rel="stylesheet" href="/css/light.css" class="theme"/>
    <link rel="stylesheet" href="/css/syntax-default.css" class="theme"/>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/script/ga.js"></script>
    <script src="/script/foldable.js"></script>
    <script src="/script/jquery.qrcode.min.js"></script>
    <script src="/script/address.js"></script>

    <!--[if lt IE 9]>
      <meta http-equiv="refresh" content="0;url=http://www.mozilla.org/">
      <style type="text/css">body { visibility: hidden; }</style>
    <![endif]-->
  </head>
  <body>

    <header>
      <a href="/"><h1>null program</h1></a>
    </header>

    {{ content }}

    <div id="sidebar">
      <aside>
        <h2>Christopher Wellons</h2>
        <address>
          <div class="portrait">
            <img class="portrait" src="/img/avatar.jpg" alt=""/>
          </div>
          <div>
            <a id="email" href=""></a>
            (<a href="/download/Christopher-Wellons.asc">PGP</a>)
          </div>
        </address>
      </aside>
      <aside>
      <div class="buttons">
        <a href="/index/">
          <img src="/img/archives.png" alt="Archives" title="Archives"/></a>
        <a href="/blog/index.rss">
          <img src="/img/rss.png" alt="RSS" title="RSS"/></a>
        <a href="http://github.com/skeeto">
          <img src="/img/github-button.png"
               title="skeeto@GitHub" alt="skeeto@GitHub"/></a>
        <a href="/toys/">
          <img src="/img/toys-button.png"
               title="My Java Applets" alt="My Java Applets"></a>
      </div>
      </aside>
      <aside id="tipjar">
        <h2>Tip Jar</h2>
        <div id="bitcoin-qrcode"></div>
        <div id="bitcoin-address"></div>
      </aside>
      <aside>
        <p class="center">
          <img src="/img/ancap-hacker.png" alt="Voluntaryist Hacker"
               title="Hacker Culture"/>
        </p>
        <p>
          Born and raised in Pittsburgh, I am currently a happily
          married computer engineer working in Maryland. Most of the
          topics you will find here are about hobby computing and
          programming.
        </p>
      </aside>
      <aside class="foldable">
        <h2>Blogs I Like</h2>
        <ul>
          {% include list-blogs.html %}
        </ul>
      </aside>
      <aside class="foldable">
        <h2>Channels I Like</h2>
        <ul>
          {% include list-videos.html %}
        </ul>
      </aside>
      <aside class="foldable">
        <h2>Comics I Like</h2>
        <ul>
          {% include list-comics.html %}
        </ul>
      </aside>
      <aside>
        <p>
          This site is powered
          by <a href="https://github.com/mojombo/jekyll">Jekyll</a> and
          edited
          with <a href="http://www.gnu.org/software/emacs/">Emacs</a>.
        </p>
      </aside>
    </div>

    <footer>
      <!-- Navigation -->
      <nav>
        <span class="nav-prev">
          {% if paginator.previous_page > 1 %}
            {% capture prev_page %}page{{ paginator.previous_page }}{% endcapture %}
          {% endif %}
          {% if paginator.previous_page %}
            <a href="/{{ prev_page }}" title="Go to previous page">
              &larr; Previous
            </a>
          {% endif %}
        </span>
        <a href="/index/" title="Go to archives">Archives</a>
        <span class="nav-next">
          {% if paginator.next_page %}
            <a href="/page{{ paginator.next_page }}" title="Go to next page">
              Next &rarr;
            </a>
          {% endif %}
        </span>
      </nav>
      <!-- Uncopyright notice -->
      <p>
        All information on this blog, unless otherwise noted, is
        hereby released into the public domain, with no rights
        reserved.
      </p>
    </footer>

    <!-- GitHub ribbon -->
    <a id="github-ribbon" href="https://github.com/skeeto/">
      <img style="position: absolute; top: 0; left: 0; border: 0;"
           src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"
           alt="Fork me on GitHub">
    </a>

    <!-- Disqus -->
    <script>
      var disqus_shortname = 'nullprogram';
    </script>
    <script src="/script/disqus-count.js"></script>
    <!-- End Disqus -->

  </body>
</html>
