<!DOCTYPE html>
<title>{% if page.title %}{{ page.title }}{% else %}null program{% endif %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="alternate" type="application/atom+xml" href="/feed/" title="Atom Feed"/>
<link rel="pgpkey" type="application/pgp-keys" href="/0xAFD1503A8C8FF42A.pgp"/>
<link rel="stylesheet" href="/css/full.css"/>

<main lang="en">
{{ content }}
</main>

<header>
  <div class="container">
    <div class="portrait identity"></div>
    <h1 class="site-title identity"><a href="/">null program</a></h1>
    <h2 class="full-name identity">Chris Wellons</h2>
    <address class="identity">
      <div><a id="email" href="mailto&#x3a;wellons&#x40;nullprogram&#x2e;com">wellons&#x40;nullprogram&#x2e;com</a> (<a rel="publickey" type="application/pgp-keys" href="/0xAFD1503A8C8FF42A.pgp">PGP</a>)</div>
      <div><a id="public-inbox" href="mailto:~skeeto/public-inbox@lists.sr.ht">~skeeto/public-inbox@lists.sr.ht</a> (<a href="https://lists.sr.ht/~skeeto/public-inbox">view</a>)</div>
    </address>
    <nav>
      <ul>
        <li class="nav index"><a href="/index/">Index</a></li>
        <li class="nav tags"><a href="/tags/">Tags</a></li>
        <li class="nav feed"><a href="/feed/">Feed</a></li>
        <li class="nav about"><a href="/about/">About</a></li>
        <li class="nav tools"><a href="/tools/">Tools</a></li>
        <li class="nav toys"><a href="/toys/">Toys</a></li>
        <li class="nav github"><a href="https://github.com/skeeto">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>

<footer>
  <p>
    All information on this blog, unless otherwise noted, is
    hereby released into the public domain, with no rights
    reserved.
  </p>
</footer>
