---
layout: default
---

<article class="single">
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
    {{ page.date | date: "%B %d, %Y" }}
  </time>
  <div class="print-only url">
    nullprogram.com{{page.url}}
  </div>

  {{ content }}

  <ul class="tags">
    {% for tag in page.tags %}
    <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  <ol class="references print-only"></ol>

  <div class="no-print comments">
    <p>Have a comment on this article? Start a discussion in my
    <a href="https://lists.sr.ht/~skeeto/public-inbox">public inbox</a>
    by sending an email to
    <a href="mailto:~skeeto/public-inbox@lists.sr.ht?Subject=Re%3A%20{{ page.title | uri_escape }}">
        ~skeeto/public-inbox@lists.sr.ht
    </a>
    <span class="etiquette">
    [<a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list etiquette</a>]
    </span>,
    or see
    <a href="https://lists.sr.ht/~skeeto/public-inbox?search={{ page.title | url_encode }}">existing discussions</a>.
    </p>

    {% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
    {% assign year = year | plus: 0 %}
    {% if year < 2020 %}
    <p>This post has
    <a href="/blog/comments/#{{ page.date | date: "%Y-%m-%d" }}">archived comments</a>.
    </p>
    {% endif %}
  </div>

  <nav class="no-print">
  {% if page.previous.url %}
    <div class="prev">
      <span class="marker">«</span>
      <a href="{{page.previous.url}}">
        {{page.previous.title}}
      </a>
    </div>
  {% endif %}
  {% if page.next.url %}
    <div class="next">
      <span class="marker">»</span>
      <a href="{{page.next.url}}">
        {{page.next.title}}
      </a>
    </div>
  {% endif %}
  </nav>
</article>
