---
layout: default
---

<article>
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <div class="date">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="date">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
  </div>
  {{ content }}

  <div class="tags">
    {% include taglist.html %}
  </div>
  <div class="permalink">
    <a href="{{ page.url }}" rel="canonical">permalink</a>
  </div>

  <!-- Disqus -->
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = 'nullprogram';
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
  </script>
  <script src="/script/disqus.js"></script>
  <noscript>
    Please enable JavaScript to view
    the <a href="http://disqus.com/?ref_noscript">comments powered by
      Disqus.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">
    blog comments powered by <span class="logo-disqus">Disqus</span>
  </a>
  <!-- End Disqus-->

</article>
